*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #88ceb9c0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.parag {
    border: 4px double darkslategray;
    border-radius: 10px;
    font-size: 2rem;
    color: darkslateblue;
    margin: 90px;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.4rem;
    background: #cfd8dc;
    margin-bottom: 100px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav li a {
    text-decoration: none;
    color: #0d47a1
}
@media only screen and (max-width: 750px) {
    .parag {
        color: darkred;
    }
}
@media only screen and (max-width: 600px) {
    nav {
    flex-direction: column;
    }
    nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
    }
    nav li {
    padding: 0.5rem 0;
    }
    .parag {
        font-size: 1.5rem;
        margin-bottom: 50px;
        color: rgb(34, 150, 34);
    }
}